<?xml version='1.0'?>
<launch>
    <node name="robin" pkg="robin_bridge_generated" type="robin_node_generated">
        <!-- dsr01 -->
        <remap from="~run_01"                               to="dsr01/robin/run" />
        <remap from="~process_code_01"                      to="dsr01/robin/process_code" />
        <remap from="~lft_palletizing_options_01"           to="dsr01/robin/lft/palletizing_options" />
        <remap from="~rgt_palletizing_options_01"           to="dsr01/robin/rgt/palletizing_options" />
        <remap from="~lifter_controller_command_01"         to="dsr01/robin/lifter_controller/command" />
        <remap from="~lifter_controller_feedback_01"        to="dsr01/robin/lifter_controller/feedback" />
        <remap from="~lifter_controller_joint_states_01"    to="dsr01/robin/lifter_controller/joint_states" />

        <!-- dsr02 -->
        <remap from="~run_02"                               to="dsr02/robin/run" />
        <remap from="~process_code_02"                      to="dsr02/robin/process_code" />
        <remap from="~lft_palletizing_options_02"           to="dsr02/robin/lft/palletizing_options" />
        <remap from="~rgt_palletizing_options_02"           to="dsr02/robin/rgt/palletizing_options" />
        <remap from="~lifter_controller_command_02"         to="dsr02/robin/lifter_controller/command" />
        <remap from="~lifter_controller_feedback_02"        to="dsr02/robin/lifter_controller/feedback" />
        <remap from="~lifter_controller_joint_states_02"    to="dsr02/robin/lifter_controller/joint_states" />
    </node>
</launch>